@font-face {
    font-family: "luminova";
    src: url("/assets/luminova-font/Luminova-lgDWe.otf");
}
:root {
    --offwhite: #F0ECE5;
    --black: #000000;
    --dark1: #111111;
    --dark2: #232323;
    --dark3: #343434;
    --dark4: #464646;
    --light1: #7a7a7a;
    --light2: #696969;
    --light3: #575757;
}
body {
    height: 100vh;
    overflow: hidden;
    margin: 0;
    display: flex;
    font-family: "Roboto", sans-serif;
    background-color: var(--black);
}
a {
    color: inherit;
}
.page-left {
    background-color: var(--black);
    background-image: url(assets/background.jpg);
    background-size: cover;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.text-backdrop {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: rgba(0,0,0,.3);
    position: relative;
    top: 25%;
    padding: 5px;
}
.text-backdrop h1 {
    font-family: "luminova", "Roboto", sans-serif;
    font-size: 56px;
    color: white;
    margin: 0;
}
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--offwhite);
    background-color: rgba(0,0,0,.3);
    font-size: smaller;
}
.page-right {
    flex: 1.5;
    color: var(--offwhite);
    background-color: var(--dark3);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.page-right > p,
.page-right > h2 {
    margin: 1rem 2rem;
}
form {
    width: 100%;
}
form legend {
    font-size: 2em;
}
form > div {
    background-color: var(--dark2);
    box-shadow: 5px 2px 2px var(--dark1);
    width: 100%;
}
form ul {
    list-style: none;
    padding: 2rem;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
form ul li {
    display: flex;
    gap: 50px;
}
form ul li > div {
    display: flex;
    flex-direction: column;
}
label {
    font-size: 11px;
    font-weight: bold;
    padding: 2px;
}
form input {
    border: rgba(0,0,0,.6) solid;
    border-radius: 5px;
    color: var(--offwhite);
    background-color: var(--dark4);
    padding: 4px;
    font: 1em sans-serif;
    width: 200px;
}
form button {
    color: var(--offwhite);
    background-color: var(--dark4);
    width: 200px;
    border: var(--dark1) 1px solid;
    border-radius: 5px;
    padding: 1em;
    position: relative;
    margin: 2rem;
}
form > p {
    margin: 0 2rem;
}